:root {
  --primary-color: #0095f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #f3f3f3;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}