main {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 60%;
  height: 100vh;
}

.insta-phone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.insta-phone img {
  height: 50rem;
}

.insta-login {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 50%;
  min-height: 34rem;
}

.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background: #fff;
  width: 100%;
  padding: 1.3rem;
  border: 1px solid #d3d3d3;
}

.group:nth-child(1) {
  min-height: 19rem;
}

.insta-logo {
  height: 3rem;
}

.profile img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  overflow: hidden;
}

.profile img {
  width: 100px; 
}

.login {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: .5rem;
  color: #FFF;
  border-radius: 4px;
  cursor: pointer;
  opacity: 1;
}

.login:hover {
  opacity: .9;
}

.logout {
  color: var(--primary-color);
  text-decoration: none;
  margin-top: 1rem;
}

.not-account,
.btn-not-account {
  color: #a0a0a0;
  line-height: 1.40rem;
}

.btn-link {
  color: var(--primary-color);
}

.login,
.logout,
.btn-link {
  font-weight: bold;
}

.get-the-app {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 1.3rem 0;
}

.download {
  width: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}

.app-download img {
  height: 3rem;
  width: 10rem;
}