* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #f3f3f3;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 60%;
  height: 100vh;
}

.insta-phone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.insta-phone img {
  height: 50rem;
}

.insta-login {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 50%;
  min-height: 34rem;
}

.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background: #fff;
  width: 100%;
  padding: 1.3rem;
  border: 1px solid #F5F5F5;
}

.group:nth-child(1) {
  min-height: 19rem;
}

.insta-logo {
  height: 3rem;
}

.profile img {
  width: 125px; 
  height: 125px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  overflow: hidden;

}